@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App{
    text-align: center;
    background-color: #45214A;
    color: #FFFAFF;
    height: 100vh;
    font-family: 'Poppins', sans-serif;

}

.User{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2{
    margin: 1rem;
}